<mat-card class="page shadow-lg bg-white rounded">
    <mat-card-title>
        Our Social Media Handles
    </mat-card-title>
    <mat-card-subtitle>
        Like, Follow, Share our content on:
    </mat-card-subtitle>
    <mat-card-content class="icons">
        <a href="https://youtube.com/channel/UC03Lt0VG9srVPkRFawWgKxw">
            <i class='fab fa-youtube' style='font-size:48px;color:red'></i></a>
        <a href="https://www.facebook.com/BiGSAMInspiration">
            <i class='fab fa-facebook' style='font-size:48px;color: blue;'></i></a>
        <a href="https://www.facebook.com/groups/732488167907498/permalink/858485601974420/?app=fbl.">
            <i class='fab fa-facebook-messenger' style='font-size:48px;color:blue'></i></a>
        <a href="https://www.instagram.com/invites/contact/?i=jkogfzn4q2tm&utm_content=5mh1he1">
            <i class='fab fa-instagram' style='font-size:48px;color:palevioletred'></i></a>
        <a href="https://twitter.com/BiGSAMInsp?s=09">
            <i class='fab fa-twitter' style='font-size:48px;color:skyblue'></i></a>
        <a href="https://vm.tiktok.com/ZMFfTQY3Q/. ">
            <i class='fab fa-tumblr' style='font-size:48px;color:black'></i></a>
    </mat-card-content>
    <br>
    <mat-grid-tile-footer>
        <h3 class="text">
            BigSam Organisation puts <span>  Quotes and Videos </span> each morning to inspire, motivate and elevate you as you progress with the day.</h3>
    </mat-grid-tile-footer>
</mat-card>