<div class="card-1">
    <h3 class="card-title"> We are The Bigsam Inspiration </h3>
    <img src="IMG-20221103-WA0005.jpg" width="900" height="600" class="card-img-top" alt="photo1">

    <div class="card-body p-6 mr-5 ml-7">
        <p class="card-text ">
            This is a group of well spiritually brought up people whose aim is to <span><b>inspire, motivate and elevate.</b></span> We are focused on mental heath issues, good morals and spiritual growth.<br><br> We have done dozen of events that have
            brought young people of different cultures and schoools and we have given them <span>inspirational talks and mental food.</span> It has brought positive impacts to young people in the community so far.

        </p>


    </div>

</div>
<br>
<hr>
<div class="card-2">
    <h3 class="card-title"> BigSam Inspiration Board </h3>
    <div class="pic2"></div>

    <div class="card-body p-6 mr-5 ml-7">
        <p class="card-text ">
            This is our team of leaders who ensure that everything runs by well. The hierachy runs from top to bottom as shown.
        </p>


    </div>

</div>