    .card-1,
    .card-2,
    .card-3 {
        height: auto;
        max-width: 25rem;
        width: 65rem;
        margin-bottom: 8px;
        margin-right: 5px;
        margin-left: 4px;
        background-color: maroon;
    }
    
    .card-title {
        font-size: 25px;
        font-weight: 700;
        font-style: oblique;
        width: 65vw;
        color: aliceblue;
    }
    
    .card-text {
        font-size: 15px;
        font-weight: bolder;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: aliceblue;
        padding-bottom: 20px;
        width: 65vw;
        margin-top: -2px;
    }
    
    span {
        color: maroon;
    }